<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{{ url_for('main.index') }}">
                    <i class="fa fa-pie-chart"></i> <span class="zh">收视概况</span>
                </a>
            </li>

            <li class="treeview">

                <a href="#">
                    <i class="fa fa-youtube-play"></i>
                    <span class="zh">节目统计</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li><a href="{{ url_for('main.tvcrm') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">收视率统计</span></a></li>
                    <li><a href="{{ url_for('main.tv_analysis') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">节目内容统计</span></a></li>
                </ul>

            </li>

            <li class="treeview">

                <a href="#">
                    <i class="fa fa-user"></i>
                    <span class="zh">用户分析</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li><a href="{{ url_for('main.user_analysis') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">用户在线统计</span></a></li>
                    <li><a href="{{ url_for('main.time_analysis') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">收视时长分析</span></a></li>
                    <li><a href="{{ url_for('main.user_info') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">深度用户分析</span></a></li>

                </ul>

            </li>

            <li class="treeview">

                <a href="#">
                    <i class="fa fa-send-o"></i>
                    <span class="zh">广告数据</span>
                    <!-- <small class="badge bg-green">new</small> -->
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li><a href="{{ url_for('main.voidad_analysis') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">直播广告分析</span></a></li>
                    <li><a href="{{ url_for('main.epg_analysis') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">EPG展示分析</span></a></li>
                    <li><a href="{{ url_for('main.user_info') }}">
                        <i class="fa fa-angle-double-right"></i> <span class="zh">硬广个性化推送</span></a></li>

                </ul>

            </li>

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>